:root {
  /* https://github.com/catppuccin/catppuccin */
  --base: #1e1e2e;
  --mantle: #181825;
  --text: #cdd6f4;
  --lavender: #b4befe;
  --content-width: 56rem;
}

body {
  background-color: var(--base);
  color: var(--text);
  font-family: Inter, sans-serif;
  font-size: 1.25rem;
}

* {
  margin: 0;
}

a {
  color: var(--lavender);
  font-weight: bold;
}

header {
  background-color: var(--mantle);
  padding: 2rem;

  div {
    max-width: var(--content-width);
    margin: auto;
    display: flex;
    align-items: center;
  }

  h1 {
    font-size: 3rem;
    flex: 1;
  }
}

main {
  max-width: var(--content-width);
  margin: auto;
  padding: 1rem;
}