<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>floppa dns</title>
    <link rel="stylesheet" href="/static/main.css" />
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  </head>
  <body>
    <header>
      <div>
        <h1><a href="/">floppa dns</a></h1>
        <a href="/login">Login</a>
      </div>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
